#!/usr/bin/python
# -*- coding: utf-8 -*-

'''
    settings
'''
# array size
model = [False]*59

# debug mode. Show command line to debug
debug = False

# smtp
sender = 'user@email.com'
smtpserver = 'smtp.email.com'
username = "user@email.com"
password = "password"
